.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.font-fam {
  font-family: 'Inter', sans-serif;
}

.registerPage {
  min-height: 100vh;
  background: white;
}

.return-icon {
  margin: 4vw 4vh;
  position: absolute;
  top: 0;
  left: 0;
}

#register-title {
  color: #2A2B2E;
  font-size: 1.6rem;
  margin-top: -1rem;
  margin-bottom: 6rem;
  margin-left: -10vw;
}

.register-wrapper {
  gap: 2rem;
}

.radio-btns {
  vertical-align: middle;
  color: #272735;
  font-size: 1.2rem;
  display: flex;
  gap: 7rem;
}

#radio-label {
  align-self: flex-start;
  color: #2A2B2E;
  font-size: 1.2rem;
}
